$--font-line-family-value: 'PingFang-SC-Bold' !default;
$--font-line-family-label: 'PingFang-SC-Bold' !default;
$--font-size-large: 18px !default;
$--font-weight-primary: 500 !default;
$--font-weight-bold: bold !default;
$--font-color-primary: red;


